.lead__figure-pic {
  width: 100%;
  padding: 0 148px;
  object-fit: cover;
  box-sizing: border-box;
}

@media screen and (max-width: 1124px) {
  .lead__figure-pic {
    padding: 0 48px;
  }
}

@media screen and (max-width: 984px) {
  .lead__figure-pic {
    padding: 0;
  }
}