.places__item {
  display: grid;
  grid-template-columns: minmax(340px, 460px) minmax(352px, 484px);
  grid-template-rows: repeat(2, auto);
  gap: 48px 40px;
  margin: 0;
}

@media screen and (max-width: 1124px) {
  .places__item {
    column-gap: 32px;
  }
}

@media screen and (max-width: 984px) {
  .places__item {
    column-gap: 28px;
  }
}

@media screen and (max-width: 767px) {
  .places__item {
    grid-template-columns: 1fr;
    gap: 32px;
  }
}
